---
layout: layouts/base.njk
eleventyImport:
  collections: ["recipie"]
---

<h2>A list of stuff to eat</h2>

<ul>
{%- for recipie in collections.recipie -%}
  <li><a href="{{ recipie.url }}">{{ recipie.data.title }}</a></li>
{%- endfor -%}


</ul>