---
layout: layouts/base.njk
eleventyImport:
  collections: ["recipe"]
---

<h2>A list of stuff to eat</h2>

<ul>
{%- for recipe in collections.recipe -%}
  <li><a href="{{ recipe.url }}">{{ recipe.data.title }}</a></li>
{%- endfor -%}


</ul>