---
title: 🍔 What Should We Eat?
---

<!doctype html>
<html>
<head>
     <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header>
        <div class="container">
            <h1>{{ title }}</h1>
            <p>A recipe website built with 11ty</p>
        </div>
       
    </header>
    <main>
        <div class="container">
            {{ content | safe }}

            <p><a href="/">&laquo; Back to Homepage</a></p>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>This is the footer. It's at the end of the page.</p>
        </div>
    </footer>
    
</body>
</html>